{% extends "html_base.html" %}
{% block content %}
<body>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
        <div class="container">
            <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
                <div class="container">
                    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                        <span class="visually-hidden">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="/search_indicators">THREAT LAB</a>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav flex-grow-1 justify-content-between">
                            <li class="nav-item"><a class="nav-link" href="#"></a></li>
           
                            <li class="nav-item"><a class="nav-link" href="/search_indicators">Indicators</a></li>
                            <li class="nav-item"><a class="nav-link" href="/search_urls">URL</a></li>
                            <li class="nav-item"><a class="nav-link" href="/search_domains">DOMAIN</a></li>
                            <li class="nav-item"><a class="nav-link" href="/search_ip4">IPv4</a></li>
                            <li class="nav-item"><a class="nav-link" href="/search_hostnames">HOST NAME</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    
    
        </div>
    </nav>
    <section class="py-4 py-xl-5"></section>
    <div class="container">
        <div class="row"><div class="col-md-13">
    <div class="side bg-dark text-light p-4">
        <!-- General Indicator Overview -->
        <div class="content col-12 overview">
            <h2 class="section-heading">{{ general_indicator }} Overview</h2>
            <p>
                <span class="ref-label label-text">Type: </span>{{ general_type }}
            </p>
            <p>
                <span class="ref-label label-text">Type Title: </span>{{ general_type_title }}
            </p>
            <p>
                <span class="ref-label label-text">WHOIS: </span>{{ general_whois }}
            </p>
            <p>
                <span class="ref-label label-text">Alexa Rank: </span>{{ general_alexa }}
            </p>
        </div>

        <!-- General Base Indicator Details -->
        <div class="details-container content">
            <div class="data-block">
                <p>
                    <span class="ref-label label-text">Indicator ID: </span>{{ general_base_indicator_id }}
                </p>
                <p>
                    <span class="ref-label label-text">General Indicator: </span>{{ general_base_indicator_indicator }}
                </p>
                <p>
                    <span class="ref-label label-text">Access Type: </span>{{ general_base_indicator_access_type }}
                </p>
            </div>
        </div>

        <br><br>

        <!-- Exploit Activity and Associated Threat Actors -->
        <div class="content">
            <div class="overall-container bg-black p-4">
                <h2 class="section-heading">Exploit Activity</h2>
                <p>
                    <span class="ref-label label-text">Pulse Count: </span>{{ general_pulse_info_count }}
                </p>
               
            </div>
        </div>

        <br><br>

        <!-- Targeted Industries -->
        <div class="content">
            <div class="overall-container bg-black p-4">
                <h2 class="section-heading">Industries Targeted</h2>
                <div class="section">
                    <h3>User-Created Pulses:</h3>
                    <p>Industries: Education, Government, Healthcare, Technology, Telecommunications</p>
                </div>
            </div>
        </div>

        <br><br>

        <!-- Pulse Info References -->
        <div class="content">
            <div class="overall-container bg-black p-4">
                <h2 class="section-heading">Pulse Info References</h2>
                <ul>
                    {% for reference in general_pulse_info_references %}
                        <li><a href="{{ reference }}" class="text-success" target="_blank">{{ reference }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <br><br>

        <!-- Malware Information -->
        <div class="content">
            <div class="overall-container bg-black p-4">
                <h2 class="section-heading">Malware Data</h2>
                <p>
                    <span class="ref-label label-text">Malware Count: </span>{{ malware_count }}
                </p>
                <p>
                    <span class="ref-label label-text">Malware Size: </span>{{ malware_size }}
                </p>
                <div>
                    <h3>Malware Data:</h3>
                    <ul>
                        {% for data in malware_data %}
                            <li>{{ data }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <br><br>

    </div> <!-- End of side -->
</div> <!-- End of col-md-6 -->
</div>
    </div>
    <div class="container">
        <div class="row"><div class="col-md-12">
    <div id="nidsList" class="section hide">
        <h2 class="section-heading">URL LIST</h2>
    </div>
    <div id="files" class="section">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>DOMAIN</th>
                        <th>URL</th>
                        <th>DATE</th>
                        <th>HOSTNAME</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in url_list %}
                    <tr>
                        <td>{{ entry.domain }}</td>
                        <td><a href="{{ entry.url }}">{{ entry.url }}</a></td>
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.hostname }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
    </div>
    <div class="container"><div class="row">
    <h2 class="section-heading">PASSIVE DNS</h2>
    <div class="table-responsive">
        <table id="exploitTable" class="table table-bordered table-striped w-100">
            <thead>
                <tr>
                    <th>ADDRESS</th>
                    <th>FIRST</th>
                    <th>LAST</th>
                    <th>HOSTNAME</th>
                    <th>RECORD TYPE</th>
                    <th>ASN</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in passive_dns_data %}
                <tr>
                    <td>{{ entry.address }}</td>
                    <td>{{ entry.first }}</td>
                    <td>{{ entry.last }}</td>
                    <td>{{ entry.hostname }}</td>
                    <td>{{ entry.record_type }}</td>
                    <td>{{ entry.asn }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>


{% endblock %}