<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ThreatIntelligenceProjectDesign</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/Apple-Navbar-Cinel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/Login-with-overlay-image.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/Pretty-Search-Form-.css') }}">
</head>

{% block content %}{% endblock %}

</html>